<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="../sass/estilos.css">
<title>Promociones de pizzas</title>
<meta name="description" content="Las mejores promociones en la pizzeria favorita de todos">
</head>
<body>
    <div class="container-fluid">
    <div class="cabecera-promociones row">
       <div class= "menu-promociones col-xs-12 col-md-6">
        <ul>
          <li><a href="../index.html">Pizzas</a></li>

          <li><a href="snacks.html">Snacks</a></li>

          <li><a href="promociones.html">Promociones</a></li>

          <li><a href="delivery.html">Delivery</a></li>

          <li><a href="historia.html">Historia Loui´s</a></li>
  
        </ul>
        </div> 
         <div class="col-xs-12 col-ms-6">
          <h1 class="tituloPromociones">Promociones</h1>
         </div>
    </div>
           <div class="centro-promociones row">
             <div class=" centro col-xs-12 col-sm-6   col-md-3">  
               <span class="icono" style='font-size:50px;'>&#128526;</span>
               <p class="parrafoIcono">Si venís con un amigo te llevas un <strong>descuento</strong> del 20%</p>
             </div>
             <div class="centro col-xs-12 col-sm-6   col-md-3">
                <span class="icono" style='font-size:50px;'>&#128527;</span>
                <p class="parrafoIcono">Lunes y miércoles 2x1 en <strong> todas </strong>las pizzas clásicas</p>
              </div>
              <div class=" centro col-xs-12 col-sm-6   col-md-3">
                <span class="icono" style='font-size:50px;'>&#128521;</span>
             <p class="parrafoIcono">Sábados especiales, todos los <strong>sábados</strong> 2x1 en pizzas gourmet!</p>
            </div> 
              <div class=" centro col-xs-12 col-sm-6   col-md-3">
                <span class="icono" style='font-size:50px;'>&#129321;</span>
             <p class="parrafoIcono">Si es tu cumpleaños te regalamos media pizza! (traer DNI)</p>
              </div>
            
            </div>
       
            <div class="footer-promociones">
              <p> 
                Copyright 2020
                <a href="https://www.instagram.com/">Instagram</a>
                <a href="https://www.whatsapp.com/">Whatsapp</a>
                <a href="https://twitter.com/">Twitter</a>
              </p> 
             </div>
             </div>
      
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
        
</body>
</html>