<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Los mejores snacks</title>
    <meta name="description" content="Los mejores snacks del universo">
    <meta name="Keywords"  content="empanadas, rico, snacks, pollo, salado">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../sass/estilos.css" />
 
  </head>
<body>
   <div class="container-fluid">
    <div class="cabecera-snacks">
        <div class="menu-snacks col-xs-12 col-md-6">
          <ul>
            <li><a href="../index.html">Pizzas</a></li>
            
            <li><a href="snacks.html">Snacks</a></li>

            <li><a href="promociones.html">Promociones</a></li>
  
            <li><a href="delivery.html">Delivery</a></li>
  
            <li><a href="historia.html">Historia Loui´s</a></li>
          </ul>
        </div>
        <div class="col xs-12">
        <h1 class="titulo-snacks">Snacks</h1>
        </div>
      </div>
      <div class="centroSnacks">
      <div class="tarjeta row row-cols-1 row-cols-md-2">
        <div class="col">
          <div class="card">
            <img class="imagenesRecetas" src="../imagenes/empanaditas.jpg" alt="empanaditas" height="300px" />
            <div class="card-body">
              <h5 class="card-title">Empanaditas</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class=" col">
          <div class="card">
            <img class="imagenesRecetas" src="../imagenes/bombapapa.jpg" alt="Bombas de papa" height="300px"/>
            <div class="card-body">
              <h5 class="card-title">Bombas de papa</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="imagenesRecetas" src="../imagenes/pollofrito.jpg" alt="Pollo frito" height="300px" />
            <div class="card-body">
              <h5 class="card-title">Pollo frito</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class=" col">
          <div class="card">
            <img class="imagenesRecetas" src="../imagenes/rabas.jpg" alt="Rabas" height="300px" /> 
            <div class="card-body">
              <h5 class="card-title">Rabas</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
 <div class="footer-snacks">
   <p> 
     Copyright 2020
     <a href="https://www.instagram.com/">Instagram</a>
     <a href="https://www.whatsapp.com/">Whatsapp</a>
     <a href="https://twitter.com/">Twitter</a>
   </p> 
  </div>
 </div>
</body>
</html>